@import url("https://use.typekit.net/pss4pwz.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'golften';
    src: url('/fonts/Golften.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Oliver';
    src: url('/fonts/Oliver-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Canela Regular */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Canela extralight */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-Thin-Trial.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* Canela Light */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-Light-Trial.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* Canela Medium */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-Medium-Trial.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* Canela Bold */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-Bold-Trial.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Canela Black */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-Black-Trial.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* Italic Styles */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-RegularItalic-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-LightItalic-Trial.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-BoldItalic-Trial.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-BlackItalic-Trial.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

/* Canela Thin Italic */
@font-face {
    font-family: 'Canela';
    src: url('/fonts/canela/CanelaDeck-ThinItalic-Trial.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}