/* Roundo Variable */

@font-face {
    font-family: 'Roundo-Regular';
    src: url('/fonts/Roundo/Roundo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roundo-Medium';
    src: url('/fonts/Roundo/Roundo-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roundo-SemiBold';
    src: url('/fonts/Roundo/Roundo-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roundo-Bold';
    src: url('/fonts/Roundo/Roundo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}