/* font */
@import url('./assets/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        cursor: none !important;
        -webkit-user-select: none;
        user-select: none;
    }

    h1 {
        @apply text-[2.5rem] md:text-2xl lg:text-3xl font-roundo-bold capitalize tracking-wide leading-[1.35]
    }

    h2 {
        @apply text-[2.2rem] md:text-2xl font-roundo-bold capitalize
    }

    h2 span {
        font-family: 'Patrick Hand', cursive;
        font-display: swap;
    }

    h3 {
        @apply text-xl font-roundo-semibold capitalize mb-2 leading-[1.75] tracking-[.5px]
    }

    h4 {
        @apply text-md md:text-lg font-roundo-medium mb-2 leading-[1.5] tracking-tight
    }

    p {
        @apply text-sm md:text-base font-roundo
    }

    a {
        @apply text-sm md:text-base font-roundo-medium cursor-none
    }


    body {
        @apply overflow-x-hidden bg-primary text-default;
        cursor: none !important;
    }


    li {
        @apply font-roundo text-base lg:text-[18px]
    }


    .max-w-container {
        max-width: 95rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 3.5rem;
        box-sizing: border-box;
    }

    @media (max-width: 1280px) {
        .max-w-container {
            padding: 0 2rem;
        }
    }

    @media (max-width: 768px) {
        .max-w-container {
            padding: 0 1.2rem;
        }
    }

    .max-content-w {
        max-width: 100rem;
    }

    .content-gap {
        @apply py-10 md:py-[4rem];
    }

    .section-gap {
        @apply py-20
    }

    .content-w {
        max-width: 85rem;
        margin: 0 auto;
        padding: 0 10rem;
    }

    @media (max-width: 973px) {
        .content-w {
            padding: 0 6rem;
        }
    }

    @media (max-width: 773px) {
        .content-w {
            padding: 0 4rem;
        }
    }

    @media (max-width: 573px) {
        .content-w {
            padding: 0 2rem;
        }
    }

    span {
        @apply font-roundo-medium leading-none
    }

    main {
        @apply overflow-hidden md:overflow-visible
    }

    html {
        overflow-x: clip;
    }

    body {
        position: relative;
        overflow-x: clip;
    }

    .big-header {
        font-size: clamp(3.2rem, 1.8901rem + 3.4554vw, 4.6rem);

        opacity: 1 !important;
        visibility: visible !important;
        @apply font-roundo font-normal tracking-[1.2px] uppercase leading-none;
    }


    .sub-header {
        /* font-size: clamp(3.8rem, 2.607rem + 2.2099vw, 4rem); */
        @apply font-roundo-bold tracking-normal leading-[1.2] text-[50px] md:text-[60px] lg:text-[65px]
    }

    .footer-header {
        font-size: clamp(3.4375rem, 2.3371rem + 4.6948vw, 6.5625rem);
        @apply tracking-[1.9px] lg:tracking-[3px] font-roundo-bold text-orange leading-tight
    }

    .quote {
        font-size: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.2rem);
    }

    .highlight {
        @apply font-roundo-semibold
    }

    .inset-shadow {
        box-shadow: inset 2px 2px 2px 0px rgba(86, 78, 73, 0.4), inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5);
    }

    .text-shadow {
        text-shadow:
            0.5px 0.5px 0 #342A1A,
            1px 1px 0 #342A1A,
            1.5px 1.5px 0 #342A1A,
            2px 2px 0 #342A1A,
            2.5px 2.5px 0 #342A1A,
            3px 3px 0 #342A1A;
    }

    @keyframes shake {
        0% {
            transform: translate(0, 0) scale(1);
        }

        25% {
            transform: translate(-2px, -4px) rotate(-2deg) scale(1.05);
        }

        50% {
            transform: translate(2px, 0px) rotate(2deg) scale(1);
        }

        75% {
            transform: translate(-2px, -4px) rotate(-2deg) scale(1.05);
        }

        100% {
            transform: translate(0, 0) scale(1);
        }
    }


    .shake-animation {
        display: inline-block;
        animation: shake .8s ease-in-out infinite;
    }


}