.deck {
    position: absolute;
    width: 500px;
    height: 800px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    margin-top: 80px;
}

.deck>div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    will-change: transform;
    padding: 12px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.05),
        0 10px 10px -10px rgba(50, 50, 100, 0.1);
}

@media (max-width: 768px) {
    .deck>div {
        width: 240px;
    }
}