@import './font.css';
@import "tailwindcss";

@theme {
  --font-golften: "golften", "sans-serif";
  --font-canela: 'Canela', "serif";
  --font-oliver: Oliver, "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --color-accent: #84FF00;
  --color-bg: #EFEEE9;
  --color-primary: #E5E0DC;
  --color-light: #F7F3ED;
  --color-secondary: #e1dfd8;
  --color-default: #333335;
  --color-dark-grey: #8C8C89;
  --color-green: #347433;
  --color-red: #B22222;
  --color-brown: #D6D1CD;
  --text-tiny: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 20px;
  --text-lg: 24px;
  --text-xl: 28px;
  --text-2xl: 32px;
  --text-3xl: 46px;
  --text-4xl: 56px;
  --text-5xl: 72px;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;

}

@layer base {
  * {
    @apply border-gray-300 text-black;
  }

  a {
    @apply font-canela
  }
}

@layer components {
  .max-w-container {
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5rem;
    box-sizing: border-box;
  }


  @media (max-width: 1028px) {
    .max-w-container {
      padding: 0 2rem;
    }
  }

  @media (max-width: 768px) {
    .max-w-container {
      padding: 0 20px;
    }
  }

  html {
    /* scroll-behavior: smooth; */
  }

  body {
    @apply text-md font-inter font-light relative z-10;
  }

  main {
    @apply bg-white relative z-10 overflow-hidden lg:overflow-visible;
  }

  .biggest-header {
    font-size: clamp(5.625rem, 3.4908rem + 8.7558vw, 17.5rem);
    @apply font-light font-golften leading-[1]
  }

  h1, .heading {
    @apply font-golften text-4xl md:text-5xl lg:text-[90px] leading-[1.25] font-light
  }

  h2, .project-title {
    @apply text-[38px] md:text-3xl 3xl:text-4xl 4xl:text-5xl font-canela leading-[1.4]
  }

  h3, .subheading {
    @apply font-canela text-xl xl:text-2xl leading-[1.5]
  }

  h4, .contact {
    @apply text-md md:text-lg 2xl:text-2xl font-canela leading-[1.5]
  }

  h5 {
    @apply text-md xl:text-lg font-canela leading-[1.25]
  }

  a {
    @apply text-base font-inter 3xl:text-md
  }


  li, p, span {
    @apply leading-[1.75] text-base 3xl:text-md 4xl:text-lg
  }

  ol {
    @apply list-decimal list-inside
  }

  ul {
    @apply list-disc list-inside
  }

  hr {
    @apply border-t border-gray-300
  }

  .subtitle-sm {
    @apply mb-2 uppercase tracking-wider text-gray-500 text-tiny md:text-sm 3xl:text-base 4xl:text-lg
  }

  .caption {
    @apply text-center text-gray-800 text-sm
  }

  .content-gap {
    @apply py-8 md:py-[4rem];
  }

  .section-gap {
    @apply py-14 lg:py-20 max-w-[90rem] w-full mx-auto
  }

  .divider {
    @apply pb-14 lg:pb-20 border-gray-100
  }

  .primary-cta {
    @apply font-inter font-normal text-sm uppercase border border-black w-fit px-10 py-4 rounded-full cursor-pointer
  }

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


}