.custom-text::before {
    content: attr(data-text);
    position: absolute;

    top: 54%;
    left: 50.7%;
    transform: translate(-50%, -50%);

    width: 100%;
    -webkit-text-stroke: 0px;
    color: #FEE6BD;
    z-index: -1;
}

.custom-text.dot::before {
    top: 53%;
    left: 60%;
}



@media (max-width: 768px) {
    .scroller {
        max-width: 700px;
        overflow: hidden;
    }

    .scroller__inner {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .scroller[data-animated="true"] {
        overflow: hidden;
    }

    .scroller[data-animated="true"] .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 8s) linear infinite;

    }

    .scroller[data-speed="fast"] {
        --_animation-duration: 8s;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 1rem));
        }
    }
}